<hr/>

<footer class="footer">
  <div class="row">
    <div class="col-md-12">
      <h4>www.svinstop.org</h4>
      <p>{{ site.description }}</p>

      <p>По любым вопросам пишите на <a href="mailto:{{ site.email }}">{{ site.email }}</a>. <!-- Группа в <a href="https://www.facebook.com/groups/805852226148098/">Фэйсбуке</a>, в <a href="http://vk.com/club81508308">Вконтакте</a>.<br/><br/> -->
      </p>
      <p><a href="https://www.facebook.com/groups/805852226148098/"><img src="{{ "/assets/fb.png" | prepend: site.baseurl }}" class="img-rounded" alt="группа на Facebook" title="группа на Facebook"></a>&nbsp;
      <a href="http://vk.com/club81508308"><img src="{{ "/assets/vk.png" | prepend: site.baseurl }}" alt="группа в Вконтакте" class="img-rounded" title="группа в Вконтакте"></a></p><br>
      
  </div>
</footer>

