<div class="jumbotron">
  <!-- <img src="{{ "/assets/top.jpg" | prepend: site.baseurl }}" alt=""> -->
  <div class="bg"></div>
  <h1>Остановим строительство свинокомплексов <small>в&nbsp;Мойсичах и&nbsp;Совлово</small></h1>
  <p class="lead">Друзья! Сейчас в&nbsp;Молодеченском районе планируется постройка двух гигантских свинарников на&nbsp;100.000 голов каждый. Один из&nbsp;них планируется построить возле&nbsp;г.&nbsp;Молодечно, второй&nbsp;&mdash; возле деревень Совлово, Высокое, Ленковщина. Воздействие свинарников такого масштаба огромное. В&nbsp;официальной экологической экспертизе количество отходов занижено в&nbsp;несколько раз. И&nbsp;есть вероятность, что замечания местных жителей, высказанные на&nbsp;общественных обсуждениях 1&nbsp;декабря 2014 года не&nbsp;будут учтены в&nbsp;должной мере. Поэтому нам нужно ваше участие.</p>

  <p><a type="button" class="btn btn-lg btn-default" href="{{ "/docs/infolist.pdf" | prepend: site.baseurl }}">Обращение к гражданам РБ</a></p>

  <div class="fb-like" data-href="{{ site.baseurl }}" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="false"></div><br/><br/>

  <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="svinstop">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>
