<h1 class="page-header">Остановим строительство свинокомплексов <small>в Мойсичах и Совлово</small></h1>
<p class="lead"><strong>Друзья! </strong> Сейчас планируется постройка двух свинарников на&nbsp;100&nbsp;000 голов. Один из&nbsp;них возле Молодечно, второй возле деревень Совлово, Высокое, Ленковщина. Воздействие свинарников такого масштаба огромное. В&nbsp;официальной экологической экспертизе количество отходов занижено в&nbsp;3 раза. </p>
<div class="fb-share-button" data-href="https://www.facebook.com/groups/805852226148098/" data-layout="button_count"></div>
<br/>
<br/>
