<header>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="{{ site.baseurl }}" class="navbar-brand">{{ site.title }}</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        {% for page in site.pages %}
          {% if page.title %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
</header>