<header>

<!-- <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="{{ site.url }}" class="navbar-brand">www.svinstop.org</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        {% for page in site.pages %}
          {% if page.title %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav> -->

<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
     {% for page in site.pages %}
        {% if page.title %}
      <li role="presentation"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <h3 class="text-muted"><a href="/">Svinstop.org</a>&nbsp;— остановим строительство свинокомплексов в&nbsp;районе Молодечно</h3>
  <hr/>
</div>

</header>